@import "./styles/normalize.css";
@import "./styles/light_balls.css";
@import "./styles/header.css";
@import "./styles/main.css";
@import "./styles/footer.css";

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 1440px;
    height: 980px;
}

@media (max-width: 320px) {
    .wrapper {
        width: 320px;
        height: auto;
    }
}

.container {
    max-width: 1144px;
    box-sizing: content-box;
    margin: 0px auto;
}

@media (max-width: 320px) {
    .container {
        width: 289px;
        height: 1115px;
    }
}
